/* test28.css */
body {
  margin: 0px;
  font-size: 0.8em;
}
.container {
  background-color: beige;
  height: 100vh;
  display: flex;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.item {
  width: 150px;
  height: 150px;
  border: 1px solid gray;
  text-align: center;
}

.item1 {
  background-color: pink;
  order: 1;
  /* flex-basis: 30%; */
  flex-shrink: 1;
  flex-grow: 3;
}
.item2 {
  background-color: red;
  flex-basis: 20%;
  order: 2;
  flex-grow: 2;
  flex-shrink: 2;
}
.item3 {
  background-color: orange;
  order: 3;
  flex-grow: 1;
  flex-shrink: 3;
}

.item4 {background-color: yellow;}
.item5 {background-color: lightgreen;}
.item6 {background-color: green;}
.item7 {background-color:  lightblue;}
.item8 {background-color: blue;}
.item9 {background-color: navy;}
.item10 {background-color: purple;}